body {
    display: flex;
    justify-content: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;

    background-color: lightgray;
    width: 200px;
    height: 250px;

    border-style: solid;
    border-radius: 8px;
}

#display {
    margin-bottom: 10px;
}

button {
    width: 25px;
    height: 25px;
}

#clear {
    width: 50px;
}

input {
    text-align: right;
}