body {
    display: flex;
    justify-content: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    background-color: lightgray;
    width: 200px;
    height: 300px;
}

input {
    text-align: right;
}